// 版心不给高度，因为需要内部元素撑开盒子
.container {
  width: 1190px;
  margin: 0 auto;
}

/* 顶部导航条 begin */
.topbar {
  height: 30px;
  background-color: #ECECEC;

  .topbar-left {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666666;

    .left-hello {
      margin-right: 28px;
    }

    span, a {
      font-size: 12px;
    }

    .login {
      padding-right: 10px;
      border-right: 1px solid #666;
      cursor: pointer;
    }

    .register {
      padding-left: 10px;
      cursor: pointer;
    }
  }

  .topbar-right {
    height: 30px;
    line-height: 30px;
    color: #666666;

    ul {
      display: flex;

      a {
        border-left: 1px solid #666666;
        padding: 0 15px;
        cursor: pointer;
      }

      a:hover {
        color: #25cff2;
      }

      li:first-child a {
        border: none;
        padding: 0 15px 0 0;
      }

      li:last-child a {
        padding: 0 0 0 15px;
      }
    }
  }
}

/* 顶部导航条 end */

/*头部搜索区域 begin*/
.header-search {
  height: 120px;

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0;

      input {
        border: 1px solid #DD302D;
        height: 34px;
        width: 508px;
      }

      button {
        height: 36px;
        width: 80px;
        // todo 处理基线问题
        vertical-align: top;
        background: #DD302D url('../images/serch_icon.png') no-repeat 28px 6px;
      }
    }
  }


}

/*头部搜索区域 end*/

/* 主导航区域 begin*/
.main-nav {
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #DD302D;

  .main-flex {
    display: flex;
    justify-content: left;
    align-items: center;

    .left-nav {
      width: 190px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-family: PingFang SC, serif;
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      background-color: #DD302D;
    }

    .right-nav {
      ul {
        font-size: 16px;
        display: flex;
        justify-content: left;

        a {
          font-family: PingFangSC-Medium, serif;
          font-size: 16px;
          color: #333333;
          letter-spacing: 0;
          font-weight: bold;
          padding: 0 10px;
        }
      }
    }
  }

}

/* 主导航区域 end*/

// 主要内容区域
.main-content {
  margin-top: 10px;

  .nav-flex {
    height: 458px;
    display: flex;
    justify-content: space-between;

    // 主导航区域
    .slide-nav {
      height: 100%;
      width: 190px;
      background-color: #F4F4F4;
      position: relative;

      li {
        font-size: 14px;
        //height: 28px;
        //line-height: 28px;
        padding: 4px 0 4px 16px;

        .second-menu {
          width: 680px;
          height: 458px;
          background-color: #F4F4F4;
          position: absolute;
          top: 0;
          left: 190px;
          padding-left: 20px;
          display: none;

          dl {
            display: flex;
            justify-content: left;
            height: 36px;
            line-height: 36px;

            dt {
              font-size: 14px;
              font-weight: bold;
              height: 20px;
              width: 70px;
              margin-right: 10px;
              //padding-right: 10px;

              a {
                color: #000000;
              }
            }

            dd {
              a {
                font-size: 14px;
                padding: 0 10px;
                border-left: 1px solid #999999;
                color: #666666;
              }
            }
          }

          dl:first-child {
            margin-top: 10px;
          }
        }
      }

      li:hover {
        background-color: #DD302D;
      }

      li:hover .second-menu {
        display: block;
      }

      li:hover > a {
        color: #fff;
      }
    }

    // 轮播图
    .carousel {
      height: 100%;
      width: 690px;
    }

    // 其他导航区域
    .slide-other {
      height: 100%;
      width: 290px;

      .message {
        box-sizing: border-box;
        height: 158px;
        width: 290px;
        padding: 0 14px;
        border: 1px solid #D9D9D9;

        .title {
          display: flex;
          justify-content: space-between;
          height: 39px;
          line-height: 39px;
          border-bottom: 1px solid #D9D9D9;

          span {
            font-size: 14px;
            color: #000000;
          }

          a {
            font-size: 12px;
            color: #999999;
          }
        }

        .msg-list {
          margin-top: 8px;
          padding-bottom: 18px;

          li {
            height: 26px;
            line-height: 26px;
          }

          li:first-child {
            margin-top: 2px;
          }

        }
      }

      .other-nav {
        box-sizing: border-box;
        margin-top: 10px;
        height: 290px;
        width: 290px;
        padding: 16px 16px 30px 16px;

        .other-nav-list {
          display: flex;
          justify-content: space-between;

          li {
            width: 48px;
            height: 70px;
            text-align: center;

            .picture {
              height: 48px;
              width: 48px;
              background-color: skyblue;
            }

            span {
              font-size: 14px;
              color: #000000;
              font-weight: bold;
            }
          }
        }

        .other-nav-list:nth-child(2) {
          margin: 17px 0;
        }

        .other-nav-list:nth-child(1) li:nth-child(1) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat 0 0;
        }

        .other-nav-list:nth-child(1) li:nth-child(2) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat -48px 0;
        }

        .other-nav-list:nth-child(1) li:nth-child(3) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat -48*2px 0;
        }

        .other-nav-list:nth-child(1) li:nth-child(4) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat -48*3px 0;
        }

        .other-nav-list:nth-child(2) li:nth-child(1) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat  0 -48px;
        }

        .other-nav-list:nth-child(2) li:nth-child(2) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat -48px -48px;
        }

        .other-nav-list:nth-child(2) li:nth-child(3) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat -48px*2 -48px;
        }

        .other-nav-list:nth-child(2) li:nth-child(4) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat -48px*3 -48px;
        }

        .other-nav-list:nth-child(3) li:nth-child(1) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat  0 -48px*2;
        }

        .other-nav-list:nth-child(3) li:nth-child(2) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat -48px -48px*2;
        }

        .other-nav-list:nth-child(3) li:nth-child(3) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat -48px*2 -48px*2;
        }

        .other-nav-list:nth-child(3) li:nth-child(4) .picture {
          background: url("../images/精灵图-侧边功能.png") no-repeat -48px*3 -48px*2;
        }
      }
    }
  }
}

// 秒杀区域
.seckill {
  margin-top: 10px;

  .seckill-flex {
    display: flex;
    justify-content: space-between;
  }
}

// 楼层区域
.floor {
  margin-top: 48px;

  .floor-nav {
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;

    span {
      font-size: 20px;
      font-weight: bold;
    }

    ul {
      display: flex;

      li {
        a {
          color: #666666;
          font-size: 16px;
          padding: 0 10px;
          border-left: 1px solid black;
          cursor: pointer;
          color: #666666;
          font-weight: bold;
          letter-spacing: 0;
        }
      }

      li:first-child a {
        color: #DD302D;
        border: none;
      }

      li:last-child a {
        padding-right: 0;
      }
    }
  }

  .floor-info {
    margin-top: 4px;
    height: 432px;
    border-top: 2px solid #DD302D;
    display: flex;

    .item1 {
      width: 230px;
      height: 100%;
      background-color: #F4F4F4;

      ul {
        height: 108px;
        width: 190px;
        margin: 20px 20px 30px 20px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;

        li {
          width: 90px;
          height: 22px;
          padding-bottom: 3.5px;
          border-bottom: 1px solid #D9D9D9;
          text-align: center;
        }
      }

      .picture {
        width: 194px;
        height: 242px;
        margin-top: 30px;
        margin-left: 18px;
        margin-right: 18px;
      }
    }

    .item2 {
      width: 340px;
      height: 100%;
      background-color: #2c654c;
    }

    .item3 {
      width: 206px;
      height: 100%;


      .top-links {
        width: 206px;
        height: 215px;
        border-bottom: 1px solid #E2E2E2;
      }

      .bottom-links {
        width: 206px;
        height: 215px;
        border-bottom: 1px solid #E2E2E2;
      }
    }

    .item4 {
      width: 206px;
      height: 431px;
      border: 1px solid #E2E2E2;
      border-top: none;
    }

    .item5 {
      width: 206px;
      height: 100%;

      .top-links {
        width: 206px;
        height: 215px;
        border-bottom: 1px solid #E2E2E2;
      }

      .bottom-links {
        width: 206px;
        height: 215px;
        border-bottom: 1px solid #E2E2E2;
      }
    }
  }
}

// 页脚
.footer {
  width: 100%;
  height: 440px;
  background-color: #483E3E;
  margin-top: 48px;

  .top-links {
    padding-top: 48px;
    height: 246px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #584D4D;

    ul {
      width: 190px;

      li {
        a {
          font-size: 14px;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 32px;
          font-weight: bold;
        }
      }
    }
  }

  .bottom-links {
    margin-top: 47px;

    ul {
      display: flex;
      justify-content: center;

      a {
        font-size: 12px;
        color: #FFFFFF;
        padding: 0 26px;
        border-left: 1px solid #D9D9D9;
      }

      li:first-child a {
        padding-left: 0;
        border-left: none;
      }

      li:last-child a {
        padding-right: 0;
      }
    }

    span {
      display: block;
      font-size: 12px;
      color: #FFFFFF;
      text-align: center;
      font-weight: bold;
      margin: 10px 0 auto;
    }
  }
}


