// 版心不给高度，因为需要内部元素撑开盒子
.container {
  width: 1190px;
  margin: 0 auto;
}

/* 顶部导航条 begin */
.topbar {
  height: 30px;
  background-color: #ECECEC;

  .topbar-left {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666666;

    .left-hello {
      margin-right: 28px;
    }

    span, a {
      font-size: 12px;
    }

    .login {
      padding-right: 10px;
      border-right: 1px solid #666;
      cursor: pointer;
    }

    .register {
      padding-left: 10px;
      cursor: pointer;
    }
  }

  .topbar-right {
    height: 30px;
    line-height: 30px;
    color: #666666;

    ul {
      display: flex;

      a {
        border-left: 1px solid #666666;
        padding: 0 15px;
        cursor: pointer;
      }

      a:hover {
        color: #25cff2;
      }

      li:first-child a {
        border: none;
        padding: 0 15px 0 0;
      }

      li:last-child a {
        padding: 0 0 0 15px;
      }
    }
  }
}

/* 顶部导航条 end */

/*头部搜索区域 begin*/
.header-search {
  height: 120px;

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0;

      input {
        border: 1px solid #DD302D;
        height: 34px;
        width: 508px;
      }

      button {
        height: 36px;
        width: 80px;
        // todo 处理基线问题
        vertical-align: top;
        background: #DD302D url('../images/serch_icon.png') no-repeat 28px 6px;
      }
    }
  }


}

/*头部搜索区域 end*/

/* 主导航区域 begin*/
.main-nav {
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #DD302D;

  .main-flex {
    display: flex;
    justify-content: left;
    align-items: center;

    .left-nav {
      width: 190px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-family: PingFang SC, serif;
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      background-color: #DD302D;
    }

    .right-nav {
      ul {
        font-size: 16px;
        display: flex;
        justify-content: left;

        a {
          font-family: PingFangSC-Medium, serif;
          font-size: 16px;
          color: #333333;
          letter-spacing: 0;
          font-weight: bold;
          padding: 0 10px;
        }
      }
    }
  }

}

/* 主导航区域 end*/

// 主要内容区域
.main-content {
  margin-top: 10px;

  .nav-flex {
    height: 458px;
    display: flex;
    justify-content: space-between;

    // 主导航区域
    .slide-nav {
      height: 100%;
      width: 190px;
      background-color: #F4F4F4;
      position: relative;

      li {
        font-size: 14px;
        //height: 28px;
        //line-height: 28px;
        padding: 4px 0 4px 16px;

        .second-menu {
          width: 680px;
          height: 458px;
          background-color: #F4F4F4;
          position: absolute;
          top: 0;
          left: 190px;
          padding-left: 20px;
          display: none;

          dl {
            display: flex;
            justify-content: left;
            height: 36px;
            line-height: 36px;

            dt {
              font-size: 14px;
              font-weight: bold;
              height: 20px;
              width: 70px;
              margin-right: 10px;
              //padding-right: 10px;

              a {
                color: #000000;
              }
            }

            dd {
              a {
                font-size: 14px;
                padding: 0 10px;
                border-left: 1px solid #999999;
                color: #666666;
              }
            }
          }

          dl:first-child {
            margin-top: 10px;
          }
        }
      }

      li:hover {
        background-color: #DD302D;
      }

      li:hover .second-menu {
        display: block;
      }

      li:hover > a {
        color: #fff;
      }
    }

    // 轮播图
    .carousel {
      height: 100%;
      width: 690px;
    }

    .slide-other {
      height: 100%;
      width: 290px;

      .message {
        box-sizing: border-box;
        height: 158px;
        width: 290px;
        padding: 0 14px;
        border: 1px solid #D9D9D9;

        .title {
          display: flex;
          justify-content: space-between;
          height: 39px;
          line-height: 39px;
          border-bottom: 1px solid #D9D9D9;

          span {
            font-size: 14px;
            color: #000000;
          }

          a {
            font-size: 12px;
            color: #999999;
          }
        }

        .msg-list {
          margin-top: 8px;
          padding-bottom: 18px;

          li {
            height: 26px;
            line-height: 26px;
          }

          li:first-child {
            margin-top: 2px;
          }

        }
      }

      .other-nav {
        margin-top: 10px;
        background-color: skyblue;
        height: 290px;
        width: 290px;
      }
    }
  }
}


